.clients {
    background: black;
    padding: 78px 90px;
}

p {
    margin: 0;
    padding: 0;
}

.ClientsContainer {

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.clientsTitle {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 56px;
    line-height: 65px;
    letter-spacing: -0.015em;
    margin-top: 78px;
}

.clientsText {
    margin-top: 28px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.004em;
    text-align: center;
    width: 433px;
}

.clientsTextitem {
    margin: 0;
}

.Testimonial {
    margin-top: 28px;
    display: flex;
    z-index: 1;
    align-items: center;

}

.testimanialText {
    position: absolute;
    margin-left: 449px;
    width: 339px;
    height: 170px;

}

.testTextHeader {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    line-height: 34px;
    letter-spacing: -0.004em;
    margin-bottom: 20px
}

.testTextName {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.004em;
    margin-bottom: 5px;
}

.testTexttitle {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.004em;
}

.radial-gradientClients {
    width: 312px;
    height: 234px;
    position: absolute;
    margin-left: 170px;
    background:
        linear-gradient( rgba(140, 69, 255, 50) 0%, #8C45FF 100%);
    filter: blur(200px);
}

/* linear-gradient(360deg, rgba(140, 69, 255,) 50%, #361764 100%); */