.clients {
    background:black;
    color: #fff;
}

p {
    margin: 0;
    padding: 0;
}

.text {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
}

.ClientsContainer {
    padding: 78px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientsTitle {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.16em;
    letter-spacing: -0.01em;
    text-align: center;
}

.clientsText {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.55em;
    letter-spacing: 0em;
    width: 433px;
    text-indent: 10px;
    margin-top: 28px;
    text-align: center;
}

.testimanialText {
    display: flex;
    flex-direction: column;
    width: 339px;
    height: 170px;
}

.testTextHeader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3em;
    letter-spacing: 0em;
    margin-bottom: 20px
}

.testTextName {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62em;
    letter-spacing: 0em;
  
}

.testTexttitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86em;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.7);
  
}
.testimanialText{
    margin: 108px 187px 123px 464px;
    
}
.TestimonialDesktop {
   background-image: url(../images/Testimonial.png);
    display: flex;
    width: 990px;
height: 401px;
}

.testimonialTablet {
    background-image: url(../images/TestimonialTablet.png);
   display: none;
   width: 810px;
height: 334px;
}
.mobilContainer{
    display: none;

 
}
.testimonialMobil {
   background-image: url(../images/Testimonial-mobile.png);
   width: 317px;
   height: 290px;
   margin-bottom: -35px;
}
.elipsEffect{
    position: absolute;
    border-radius: 100%;
    fill: rgba(140, 69, 255, 0.5);
    filter: blur(250px);

}
.elipsEffect > svg{
    width:820px;
     height:742px;
}
.elipsEffect > ellipse {
    fill-opacity: 0.5;}
@media screen and (min-width: 810px) and (max-width: 1199px) {

.TestimonialDesktop,
.mobilContainer {
 display: none;
}
.testimonialTablet{
    display: flex;
}
.testimanialText{
 margin: 75px 113px 88px 358px;
}
.elipsEffect{
    margin-left: 100px;
    margin-top: -50px;
}
.elipsEffect > svg{
    width:700px;
}
.elipsEffect{
    filter: blur(150px);
}

.testTexttitle{margin-bottom: 0;}
}
@media screen and (min-width: 390px) and (max-width: 809px) {
    .TestimonialDesktop,.testimonialTablet{
        display: none;
    }
   .mobilContainer{
        display: flex;
    }
    .ClientsContainer {
        padding: 50px 0px;
    }

    .clientsText {
        width: 300px;
    }
    .mobilContainer{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .testimanialText{
    margin: auto;
    }
    .elipsEffect > svg{
        width:320px;
    }
    
.elipsEffect{
    margin-top: -175px;
    margin-left: 40px;
}

.elipsEffect{
    filter: blur(5px);
}
.elipsEffect > ellipse {
    fill-opacity: 1;
}
}