* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.companies-section {
  background-color: black;
}
.companies-container {
  margin: 0 auto;
  max-width: 1200px;
}
.companies {
  padding: 0 115px 59px 115px;
  width: 1208px;
  margin: 0 auto;
}
.comp-p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-bottom: 40px;
  padding-top: 59px;
  letter-spacing: -0.001em;
  font-size: 16px;
  line-height: 26px;
}
.comp-li {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 32px 40px;
  width: calc((100% - 30px)/ 4);
}
.comp-li img{
  width: 100%;
}
.companies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/*tablet*/
@media screen and (min-width: 810px) and (max-width: 1199px) {
  .companies-container{
    max-width: 810px;
}
.companies{
    padding: 0 80px 59px 80px;
    width: 810px;
}
.comp-li {
    width: calc((100% - 30px)/ 4);
  }
}
  


/*mobile*/
@media screen and (min-width: 390px) and (max-width: 809px) {
  .companies-container{
    max-width: 390px;
}
.companies{
    padding: 0px 15px;
    max-width: 390px;
}
.comp-li {
    width: calc((100% - 10px)/ 2);
  }
}
