.pricing {
  background-color: black;
  padding: 129px 14px;
}
.pricing-text {
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pricing-text h2 {
  font-size: 56px;
  line-height: 65px;
  letter-spacing: -0.015em;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  color: white;
}
.pricing-text p {
  text-align: center;
  color: white;
  width: 395px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: -0.001rem;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
}
/* kartlar */
.pricing-cards {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pricing-cards .card {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  width: 307px;
  height: 500px;
  margin-top: 111px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  font-size: 24px;
  letter-spacing: -0.004em;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  line-height: 31px;
  margin-top: 20px;
  margin-bottom: 6px;
}
.card-div {
  margin-left: 20px;
}
.card p {
  line-height: 26px;
  letter-spacing: -0.001rem;
  font-family: "Inter Tight", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 15px;
}
.pricing-cards .card ul li {
  position: relative; /* İkonun doğru konumlanması için */
  padding-left: 25px; /* İkona yer açmak için */
}

.pricing-cards .card ul li::before {
  content: url(../images/Vector.png); /* İkon olarak bir onay işareti ekleniyor */
  position: absolute;
  left: 0; /* Sol tarafa hizalar */
  top: 0;
  color: white; /* İkonun rengi */
  line-height: 32px; /* Liste elemanıyla hizalanması için */
  width: 15px; /* İkonun genişliği */
  height: 15px; /* İkonun yüksekliği */
}
.card-list {
  list-style: none;
  padding: 10px;
}
.card-button {
  width: 260px;
  height: 38px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  margin: 10px;
  align-self: center;
  backdrop-filter: blur(14px);
  box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.25);
  background: rgba(61, 61, 61, 0.4);
}
.card-button:hover {
  backdrop-filter: blur(14px);
  box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.25);
  background: rgba(140, 69, 255, 0.4);
}

.card {
  background-image: linear-gradient(180deg, #000 29%, rgba(0, 0, 0, 0) 100%),
    url(../images/cta.png);
}

.card:hover {
  background-image: linear-gradient(180deg, #020103 29%, rgb(51, 24, 93) 100%),
    url(../images/cta.png);
  box-shadow: -6px -3px 80px 33px rgb(44, 19, 81);
}
.line {
  border: 1px solid #282729;
  width: 250px;
  height: 0px;
  margin-bottom: 15px;
}

/*tablet*/
@media screen and (min-width: 810px) and (max-width: 1199px) {
  .pricing-container {
    width: 97%;
    margin: 0 auto;
  }

  .pricing {
    padding: 129px 10px;
  }

  .pricing-cards .card {
    width: calc((100% - 30px) / 3);
  }

  .line {
    width: 210px;
  }
  .card-button {
    width: 230px;
  }
}



/*mobile*/
@media screen and (min-width: 390px) and (max-width: 809px) {
  .pricing-container {
    max-width: 390px;
    margin: 0 auto; 
  }

  .pricing-cards {
    flex-direction: column; 
    align-items: center; 
  }

  .pricing-cards .card {
    width: 290px; 
    margin-top: 15px;
  }

  .pricing-text h2 {
    font-size: 26px;
    line-height: 65px;
    letter-spacing: -0.01em;
  }

  .pricing-text p {
    font-size: 18px;
    line-height: 31px;
    letter-spacing: -0.015rem;
    margin-bottom: 50px;
    width: 260px;
  }
}
